{% load static i18n %}

{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Activate Account</title>
</head>
<body>
{% autoescape off %}

    <table style="border-collapse:collapse;border:0;max-width:600px!important" width="100%" cellspacing="0"
           cellpadding="0"
           border="0">
        <tbody>
        <tr>
            <td id="m_2782689107409773923m_-4509687422814257272templatePreheader"
                style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"
                valign="top">
                <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0"
                       border="0">
                    <tbody>
                    <tr>
                        <td style="padding-top:9px" valign="top">


                            <table style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%"
                                   cellspacing="0" cellpadding="0" border="0" align="left">
                                <tbody>
                                <tr>

                                    <td style="padding:0px 18px 9px;color:#bc1b1b;font-family:&quot;Comic Sans MS&quot;,&quot;Marker Felt-Thin&quot;,Arial,sans-serif;font-size:11px;font-style:normal;font-weight:normal;line-height:125%;word-break:break-word;text-align:left"
                                        valign="top">

                                        <a href="https://us4.campaign-archive.com/?e=&amp;u=c251039461c27223e436d62fa&amp;id=54a73a61fa"
                                           style="color:#656565;font-weight:normal;text-decoration:underline"
                                           rel="noreferrer" target="_blank"
                                           data-saferedirecturl="https://www.google.com/url?q=https://us4.campaign-archive.com/?e%3D%26u%3Dc251039461c27223e436d62fa%26id%3D54a73a61fa&amp;source=gmail&amp;ust=1580843594691000&amp;usg=AFQjCNEEOI68nP0higYwQm4TabWgQFvONg">View
                                            this email in your browser</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td id="m_2782689107409773923m_-4509687422814257272templateHeader"
                style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0"
                valign="top">
                <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0"
                       border="0">
                    <tbody>
                    <tr>
                        <td style="padding:9px" valign="top">
                            <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0"
                                   cellpadding="0" border="0" align="left">
                                <tbody>
                                <tr>
                                    <td style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center"
                                        valign="top">


                                        <img alt=""
                                             src="https://ci5.googleusercontent.com/proxy/58VEr8HJ6rOPcz_ms0fWXXf5Zg3mE8WdxiIjjILJ0B-K_HI9p9Zt6AS5Sg8w1FFSYq_h5-JNgoM4rInqBCQiiJlEjZIig1VeNU7tpgoNPclTfmKYwBvIRSUAqc11X1vWKZsq699omzQKWi6wizQ2ejiSA1nnvmvxnAE=s0-d-e1-ft#https://gallery.mailchimp.com/c251039461c27223e436d62fa/images/51028ff8-65e2-45d3-9ca5-58f4fce85f5c.jpg"
                                             style="max-width:500px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none"
                                             class="CToWUd a6T" tabindex="0" width="500" align="middle">
                                        <div class="a6S" dir="ltr" style="opacity: 0.01; left: 783.2px; top: 579.75px;">
                                            <div id=":qj" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button"
                                                 tabindex="0"
                                                 aria-label="Download attachment " data-tooltip-class="a1V"
                                                 data-tooltip="Download">
                                                <div class="aSK J-J5-Ji aYr"></div>
                                            </div>
                                        </div>


                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td id="m_2782689107409773923m_-4509687422814257272templateBody"
                style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px"
                valign="top">
                <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0"
                       border="0">
                    <tbody>
                    <tr>
                        <td style="padding-top:9px" valign="top">


                            <table style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%"
                                   cellspacing="0" cellpadding="0" border="0" align="left">
                                <tbody>
                                <tr>

                                    <td style="padding:0px 18px 9px;color:#bc1b1b;font-family:&quot;Comic Sans MS&quot;,&quot;Marker Felt-Thin&quot;,Arial,sans-serif;font-size:11px;font-style:normal;font-weight:normal;line-height:125%;word-break:break-word;text-align:left"
                                        valign="top">

                                        <h2 style="text-align:left;display:block;margin:0;padding:0;color:#202020;font-family:Helvetica;font-size:14px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal"><span>Dear {{ first_name }},<br>
Clink on button bellow to activate your account</span>
                                        </h2>


                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td id="m_2782689107409773923m_-4509687422814257272templateFooter"
                style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"
                valign="top">

                <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0"
                       border="0">
                    <tbody>
                    <tr>
                        <td style="padding-top:0;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top"
                            align="center">
                            <table style="border-collapse:separate!important;border-radius:4px;background-color:#2baadf"
                                   cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td style="font-family:Arial;font-size:16px;padding:18px" valign="middle"
                                        align="center">
                                        <a title="Account activation"
                                           href="http://{{ domain }}/signup/activate?eid={{ eid }}&token={{ token }}"
                                           style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff;display:block"
                                           rel="noreferrer" target="_blank"
                                           data-saferedirecturl="https://www.google.com/url?q=https://aichallenge.sharif.edu/&amp;source=gmail&amp;ust=1580843594691000&amp;usg=AFQjCNE9SCnjgXGvLz3DFBuhJQWppiC4ew">
                                            Activae Account!
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0"
                       border="0">
                    <tbody>
                    <tr>
                        <td style="padding:9px" valign="top" align="center">
                            <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0"
                                   cellpadding="0" border="0">
                                <tbody>
                                <tr>
                                    <td style="padding-left:9px;padding-right:9px" align="center">
                                        <table style="min-width:100%;border-collapse:collapse" width="100%"
                                               cellspacing="0"
                                               cellpadding="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="padding-top:9px;padding-right:9px;padding-left:9px"
                                                    valign="top"
                                                    align="center">
                                                    <table style="border-collapse:collapse" cellspacing="0"
                                                           cellpadding="0"
                                                           border="0" align="center">
                                                        <tbody>
                                                        <tr>
                                                            <td valign="top" align="center">


                                                                <table style="display:inline;border-collapse:collapse"
                                                                       cellspacing="0" cellpadding="0" border="0"
                                                                       align="left">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="padding-right:10px;padding-bottom:9px"
                                                                            valign="top">
                                                                            <table style="border-collapse:collapse"
                                                                                   width="100%" cellspacing="0"
                                                                                   cellpadding="0" border="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px"
                                                                                        valign="middle" align="left">
                                                                                        <table style="border-collapse:collapse"
                                                                                               width="" cellspacing="0"
                                                                                               cellpadding="0"
                                                                                               border="0"
                                                                                               align="left">
                                                                                            <tbody>
                                                                                            <tr>

                                                                                                <td width="24"
                                                                                                    valign="middle"
                                                                                                    align="center">
                                                                                                    <a href="http://aichallenge.sharif.edu/api/go/twitter-registration"
                                                                                                       rel="noreferrer"
                                                                                                       target="_blank"
                                                                                                       data-saferedirecturl="https://www.google.com/url?q=http://www.twitter.com/aichallenge&amp;source=gmail&amp;ust=1580843594691000&amp;usg=AFQjCNF2CpqF7aUVAxekuwWRf05dkWjnAQ"><img
                                                                                                            src="https://ci5.googleusercontent.com/proxy/9JCidMa5VknLAPg4RYMmH7FGGVE7GTqtQfZp9sA6f68f38QxOQjaZjOzu4PYlR28CsRZztKJCldsl4XY02xdjYH6F1CkIDvevrQ6WPEMdEVx5YYDxBx0t302TgzwTA=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png"
                                                                                                            alt="Twitter"
                                                                                                            style="display:block;border:0;height:auto;outline:none;text-decoration:none"
                                                                                                            class="CToWUd"
                                                                                                            width="24"
                                                                                                            height="24"></a>
                                                                                                </td>


                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>


                                                                <table style="display:inline;border-collapse:collapse"
                                                                       cellspacing="0" cellpadding="0" border="0"
                                                                       align="left">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="padding-right:0;padding-bottom:9px"
                                                                            valign="top">
                                                                            <table style="border-collapse:collapse"
                                                                                   width="100%" cellspacing="0"
                                                                                   cellpadding="0" border="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px"
                                                                                        valign="middle" align="left">
                                                                                        <table style="border-collapse:collapse"
                                                                                               width="" cellspacing="0"
                                                                                               cellpadding="0"
                                                                                               border="0"
                                                                                               align="left">
                                                                                            <tbody>
                                                                                            <tr>

                                                                                                <td width="24"
                                                                                                    valign="middle"
                                                                                                    align="center">
                                                                                                    <a href="http://aichallenge.sharif.edu/api/go/instagram-registration"
                                                                                                       rel="noreferrer"
                                                                                                       target="_blank"
                                                                                                       data-saferedirecturl="https://www.google.com/url?q=http://instagram.com/aichallenge&amp;source=gmail&amp;ust=1580843594691000&amp;usg=AFQjCNFrrpF2fc-WsqHLqKwhH-NnPVdeDA"><img
                                                                                                            src="https://ci3.googleusercontent.com/proxy/Kxmv_VOWHxRbx9ha8NMR9nONZZkGxv2vyrUOlpQhi5_ieDBEPqRomk1Twd6kvqAcUM1ccGIxTgC8Rh1TvQcdKf-Ql5F87HSw4DKkcKIdL9Gz-WFmaHDWBrvzjPHt2CVn=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-instagram-48.png"
                                                                                                            alt="Instagram"
                                                                                                            style="display:block;border:0;height:auto;outline:none;text-decoration:none"
                                                                                                            class="CToWUd"
                                                                                                            width="24"
                                                                                                            height="24"></a>
                                                                                                </td>


                                                                                            </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>


                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endautoescape %}
</body>
</html>

