version: '3.3'

services:
  thebackend_nginx:
    image: nginx:latest
    container_name: thebackend_nginx
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./static/:/static/
      - ./media/:/media/
      - /var/log/thebackend:/var/log/thebackend
      - /var/log/thebackend/nginx/:/var/log/nginx/
      - ./deploy/config/nginx/sites-enabled:/etc/nginx/sites-enabled
      - ./deploy/config/nginx/sites-available:/etc/nginx/sites-available
      - ./deploy/config/nginx/nginx.conf:/etc/nginx/nginx.conf

    depends_on:
      - thebackend_web
  thebackend_web:
    build: .
    container_name: thebackend_web
    restart: always
    command: bash -c "export DJANGO_SETTINGS_MODULE=thebackend.settings.production && python3 manage.py migrate && python3 manage.py compilemessages && python3 manage.py collectstatic <<< yes && gunicorn -b 0.0.0.0:8000 --workers=4 thebackend.wsgi"
    volumes:
      - ./static/:/root/thebackend/static/
      - ./media/:/root/thebackend/media/
      - /var/log/thebackend:/var/log/thebackend
    depends_on:
      - thebackend_db
    expose:
      - 8000
  thebackend_db:
    image: postgres:latest
    container_name: thebackend_db
    restart: always
